@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
    --color-primary: #122e44;
    --color-secondary: #78beb2;
    --color-tertiary: rgb(152, 179, 198);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-image: url("img/css-pattern-by-magicpattern.png");
    font-family: "Oswald", Arial, sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    text-decoration: underline;
    color: var(--color-secondary);
    font-size: 1.1rem;
}

a:active {
    color: var(--color-tertiary);
}

a:visited {
    color: var(--color-tertiary);
    text-decoration: underline var(--color-tertiary);
}

ul, li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 32px;
    color: var(--color-secondary);
}

h2 {
    font-size: 28px;
    color: var(--color-secondary);
    text-align: center;
}

h3 {
    color: var(--color-secondary);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    font-family: "Montserrat", Arial, serif;
    padding: 5px;
}


.container {
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid var(--color-primary);
    background-color: rgb(243, 241, 247);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px; 
    align-items: center;
    margin-bottom: 50px; 
    background-color: #fff;
    border-bottom: 3px solid var(--color-primary);
}

.right-nav li  {
    padding: 10px 20px;
    font-size: 1.3rem; 
}

.hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
    gap: 15px;
}

.hero img {
    width: 80%;
    grid-row: 1 / span 2;
    grid-column: 2;
    padding: 10px;
    border-radius: 20px;
    
}

.down-arrow {
    margin: 50px auto;
    width: 1px;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
}

.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr, 2fr;
}

.about h2 {
    grid-row: 1;
    grid-column: 1 /span 2;
}
.about img {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    grid-column: 1;
    grid-row: 2;
}

.projects p {
    text-align: center;
}

.individual-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.card {
    width: 100%;
    border: 3px solid var(--color-secondary);
    border-radius: 20px;
    padding: 5px;
    background-color: #fff;
}

.card:hover{
    opacity: .9;
    border: 3px solid var(--color-primary);
    transition: border .6s ease-in;
}

.projects a {
    font-weight: 500;
    color: var(--color-secondary);
}

.project1 {
    background-image: url(img/blue-purpose-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project2 {
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project3 {
    background-image: url(img/customcolor_logo_transparent_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project4 {
    background-image: url(img/condes-connections-high-resolution-logo-transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.visible {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hidden:hover{
    cursor: pointer;
}

.fade-background {
    background-color: rgba(255, 255, 255, 0.823);
    background-blend-mode: overlay;
}

.contact p {
    text-align: center;
}

.contact a {
    font-weight: 500;
    color: var(--color-secondary);

}

.skills-colummns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.skills-columns p {
    text-align: left;
}

.columns {
    margin: 30px 0;
}

.contact i {
    color: var(--color-primary);
}

.connect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.connect h3 {
    grid-column: 1 /span 2;
}

.connect i {
    margin-right: 5px;
}

.footer {
    width: 100%;
    background-color: white;
    border-top: 3px solid var(--color-primary);
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h4 {
    color: var(--color-secondary)
}

.footer img {
    width: 20%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.7rem;
    }
    .container {
        width: 90%;
    }

    .hero {
        grid-template-columns: 1fr;
        
    }

    .hero img {
        grid-row: 2;
        grid-column: 1;
    }

    .individual-projects {
        grid-template-columns: 1fr;
    }

    .about {
        grid-template-columns: 1fr;
    }
    
    .about h2 {
        grid-row: 1;
        grid-column: 1;
    }

    .about img {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        border-radius: 20px;
    }

    .footer img {
        width: 40%;
    }

    .right-nav li  {
        padding: 5px 10px;
        font-size: 1.1rem; 
    }
}

@media (max-width: 960px) {
    .container {
        width: 90%;
    }
}
